<!-- Card Section  -->

<div class="row pt-md-5 mt-md-3  mb-4">

    <div class="col-sm-6 col-xl-3 p-2">
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-shopping-cart fa-3x text-warning"></i>
            <div class="text-right text-secondary">
              <h2>العملاء</h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة العملاء</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-money-bill-alt fa-3x text-success"></i>
            <div class="text-right text-secondary">
              <h2>الشركات </h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة الشركات </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
  
  
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-users fa-3x text-info"></i>
            <div class="text-right text-secondary">
              <h2>الموظفين </h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" routerLink="/employees-settings">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة الموظفين </span>
          </a>
        </div>
      </div>
  
  
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
  
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-chart-line fa-3x text-danger"></i>
            <div class="text-right text-secondary">
              <h2>المخازن </h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة المخازن </span>
          </a>
        </div>
      </div>
  
  
    </div>
    <!-- second row of cards -->
    <div class="col-sm-6 col-xl-3 p-2">
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-code-branch fa-3x text-warning"></i>
            <div class="text-right text-secondary">
              <h2>الفروع</h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة الفروع</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-money-bill-alt fa-3x text-success"></i>
            <div class="text-right text-secondary">
              <h2>حسابات </h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة حسابات </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
  
  
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="far fa-clipboard fa-3x text-info"></i>
            <div class="text-right text-secondary">
              <h2>تقارير </h2>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
            <span>إدارة تقارير </span>
          </a>
        </div>
      </div>
  
  
    </div>
    <div class="col-sm-6 col-xl-3 p-2">
  
      <div class="card card-common">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <i class="fas fa-user-lock fa-3x text-danger"></i>
            <div class="text-right text-secondary">
              <h3>صلاحيات المستخدمين </h3>
            </div>
          </div>
        </div>
        <div class="card-footer  text-center">
          <a class="text-secondary" href="#">
            <i class="fas fa-external-link-alt mx-2"></i>
  
            <span>إدارة صلاحيات المستخدمين </span>
          </a>
        </div>
      </div>
    </div>
  
  
  </div>
  
  <!--End  Card Section  -->
  