<!-- <p>basket works!</p> -->









<!-- Bootstrap css -->
<!-- <link href="/assets/public/assets/site/plugins/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet" /> -->

<!-- Style css -->
<link href="/assets/public/assets/site/css/style-rtl.css" rel="stylesheet" />
<link href="/assets/public/assets/site/css/skin-modes.css" rel="stylesheet" />

<!-- Font-awesome  css -->
<link href="/assets/public/assets/site/css/icons.css" rel="stylesheet" />

<!--Horizontal Menu css-->
<link href="/assets/public/assets/site/plugins/horizontal-menu/horizontal-menu-rtl.css" rel="stylesheet" />

<!--Select2 css -->
<link href="/assets/public/assets/site/plugins/select2/select2.min-rtl.css" rel="stylesheet" />

<!-- Cookie css -->
<!-- <link href="/assets/public/assets/site/plugins/cookie/cookie.css" rel="stylesheet"> -->

<!-- Owl Theme css-->
<!-- <link href="/assets/public/assets/site/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" /> -->

<!-- Custom scroll bar css-->
<!-- <link href="/assets/public/assets/site/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" /> -->

<!-- Pscroll bar css-->
<!-- <link href="/assets/public/assets/site/plugins/pscrollbar/pscrollbar.css" rel="stylesheet" /> -->
<link id="theme" rel="stylesheet" type="text/css" media="all" href="/assets/public/assets/site/color-skins/color6.css" />

<!-- Switcher css -->
<link href="/assets/public/assets/site/switcher/css/switcher-rtl.css" rel="stylesheet" id="switcher-css" type="text/css" media="all" />
<link href="/assets/public/assets/site/css/rtl.css" rel="stylesheet" type="text/css" media="all" />
<link href="/assets/public/assets/site/css/main-style-ar.css" rel="stylesheet" type="text/css" media="all" />

<link href="/assets/public/assets/site/css/magnific-popup.css" rel="stylesheet" />

<user-navbar></user-navbar>

<router-outlet></router-outlet>

<user-footer></user-footer>


    <script src="./assets/public/assets/site/js/magnific-popup.min.js"></script>

    <script src="/assets/public/assets/site/js/custom.js"></script>
