    <!--Contact-->
    <section class="sptb">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="row blog-grid">
                                                <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="item7-card-img">
                                    <a href="#"></a>
                                                                            <img src="/public/uploads/success-825x510.jpg.jpg" alt="img" class="cover-image" style="height: 250px">
                                                                    </div>
                                <div class="card-body">
                                    <a href="#" class="text-dark"><h3 class="font-weight-semibold">شهادة معتمدة من جامعة القاهرة</h3></a>
                                </div>
                            </div>
                        </div>
                                                <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="item7-card-img">
                                    <a href="#"></a>
                                                                            <img src="/public/uploads/25.jpg" alt="img" class="cover-image" style="height: 250px">
                                                                    </div>
                                <div class="card-body">
                                    <a href="#" class="text-dark"><h3 class="font-weight-semibold">شهادة معتمدة من الوادى الجديد</h3></a>
                                </div>
                            </div>
                        </div>
                                                <div class="col-xl-4 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="item7-card-img">
                                    <a href="#"></a>
                                                                            <img src="/public/uploads/80979.jpg.jpg" alt="img" class="cover-image" style="height: 250px">
                                                                    </div>
                                <div class="card-body">
                                    <a href="#" class="text-dark"><h3 class="font-weight-semibold">شهادة معتمدة من عين شمس</h3></a>
                                </div>
                            </div>
                        </div>
                                            </div>
                    <div class="center-block text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>