<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
  
        <show-live-cour></show-live-cour>
  
      </div>
    </div>
  </div>
  
  
  <!-- Modals-->
  

  <!-- User Modal -->
<!-- 
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-group">
              <label for="userPicLabel">صورة الموظف</label>
              <input type="file" class="form-control" id="userPicFormControlInput">
            </div>
  
            <div class="form-group">
              <label for="userName">الاسم</label>
              <input type="text" class="form-control" id="userNameFormControlInput" placeholder="name@example.com">
            </div>
  
            <div class="form-group">
              <label for="position">الوظيفة</label>
              <input type="text" class="form-control" id="positionFormControlInput" placeholder="name@example.com">
            </div>
  
            <div class="form-group">
              <label for="departmentFormControlSelect2">الادارة التابع لها</label>
              <select class="form-control" id="departmentFormControlSelect2">
                <option>حسابات</option>
                <option>مندوبين التوصيل</option>
                <option>المخازن</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="email">البريد الالكتروني</label>
              <input type="email" class="form-control" id="emailFormControlInput" placeholder="name@example.com">
            </div>
  
            <div class="form-group">
              <label for="dateOfHiringLabel">تاريخ التعيين</label>
              <input type="date" class="form-control" id="dateOfHiringInput" placeholder="name@example.com">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->




  
  
