    <div class="bg-white border-bottom">
        <div class="container">
            <div class="page-header">
                <h4 class="page-title">
                    {{title}}
                </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{'HOME'| translate}}</a></li>
                    <!-- <i class="fas fa-slash"></i> -->
                    <i class="fas fa-angle-left mx-2"></i>
                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                </ol>
            </div>
        </div>
    </div>