<div class="row bg-dark mt-3">
    <div class="col-md-12 d-flex flex-row">
      <!-- New Employee Modal Button  -->
      <div class="pt-3">
        <button type="button" (click)="addNewClick()" class="btn btn-primary" data-toggle="modal"
          data-target="#NewEmployeeModal">
          <i class="fas fa-user-plus mx-2"></i>
          اضافة دبلومة جديد
        </button>
      </div>
  
      <p class="h5 text-light py-3 ml-auto">إدارة الدبلومات</p>
    </div>
  </div>
  
  
  <p-tabView>
    <p-tabPanel header="جميع الدبلومات">
         <!-- PrimeNg Table -->
         <p-table #empsTbl [value]="deplomas" [globalFilterFields]="['name','description']" [paginator]="true" [rows]="10"
         [rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8">
         <!-- [scrollable]="true"
             scrollHeight="350px" -->
         <ng-template pTemplate="caption">
           <div class="p-d-flex">
             <!-- <div class="add-new-btn">
                   <a href="" data-toggle="modal" data-target="#emp-modal" title="أضافة موظف جديد"
                   class="edit-emp-btn btn btn-info btn-sm mx-2">إضافة موظف جديد <i class="fas fa-user-edit mx-2"></i></a>
                 </div> -->
       
             <div class="search-warpper">
               <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                 (click)="clear(empsTbl)"></button>
               <span class="p-input-icon-left p-ml-auto">
                 <i class="pi pi-search"></i>
                 <input class="search-textbox" pInputText type="text"
                   (input)="empsTbl.filterGlobal($event.target.value, 'contains')" placeholder="بحث الدورات" />
               </span>
             </div>
       
           </div>
         </ng-template>
       
         <ng-template pTemplate="header">
           <tr>
             <th> ألاجراءات </th>
             
             <th pSortableColumn="price_before_discount">سعر قبل الخصم <p-sortIcon field="price_before_discount"></p-sortIcon> </th>
             <th pSortableColumn="price_after_discount">سعر بعد الخصم <p-sortIcon field="price_after_discount"></p-sortIcon> </th>
             <!-- <th pSortableColumn="Price">سعر بعد الخصم <p-sortIcon field="Price"></p-sortIcon> -->
               <th> صورة الدبلومة </th>
       
               <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
               </th>
       
            <!-- <th pSortableColumn="instructorName">المحاضر<p-sortIcon field="instructorName"></p-sortIcon>
             </th>
             <th pSortableColumn="createdAt">تاريخ <p-sortIcon field="createdAt"></p-sortIcon>
             </th> -->
             <!-- <th pSortableColumn="description">وصف <p-sortIcon field="description"></p-sortIcon>
             </th> -->
             <!-- <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
             </th> -->
       
           </tr>
         </ng-template>
         <ng-template pTemplate="body" let-course>
           <tr>
             <td>
               <button type="button" data-toggle="modal" data-target="#authModal" href="" title="تفاصيل أكثر عن الدبلومة"
                 class="btn btn-info btn-sm"><i class="fas fa-user-cog"></i></button>
       
               <!-- <a href="" data-toggle="modal" data-target="#passwordModal" title="تغير كلمة المرور"
                 class="btn btn-warning text-white btn-sm"><i class="fas fa-unlock-alt"></i></a> -->
       
               <button  data-toggle="modal" (click)="editClick(course)" data-target="#NewEmployeeModal"
                 title="تعديل بيانات الدبلومة" class="edit-emp-btn btn btn-primary btn-sm "><i class="fas fa-user-edit"></i></button>
                 <p-confirmPopup styleClass="custom-style" ></p-confirmPopup>
       
               <button (click)="deleteClick(course.id)"  title="حذف الدبلومة" class="btn btn-danger btn-sm"><i class="fas fa-trash "></i></button>
       
             </td>
             <!-- <td>
                 <div class="custom-control custom-switch">
                   <input [checked]="cat.accountActivation" type="checkbox" class="custom-control-input"
                     id="customSwitches_{{cat.id}}">
                   <label class="custom-control-label" for="customSwitches_{{cat.id}}">
                   </label>
                 </div>
               </td> -->
          
               <td>{{course.price_before_discount}}</td>
               <td>{{course.price_after_discount}}</td>     
             <td>
               <img src="{{course.img_path}}" width="120">
             </td>
             <td>
                 <a type="button"  target="_blank"
                 routerLink="/purchase-diploma-info/{{course.id}}/{{course.name}}">
                   {{course.name}}
                 </a>
             </td>
       
           </tr>
         </ng-template>
       
                 </p-table>
               <!-- End-PrimeNg Table -->
    </p-tabPanel>
    <p-tabPanel header="أقل الدبلومات مبيعا">
          <!-- PrimeNg Table -->
          <p-table #empsTbl [value]="lessSellerDeplomas" [globalFilterFields]="['name','description','numberOfSeall']" [paginator]="true" [rows]="10"
            [rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8">
            <!-- [scrollable]="true"
                scrollHeight="350px" -->
            <ng-template pTemplate="caption">
              <div class="p-d-flex">
                <!-- <div class="add-new-btn">
                      <a href="" data-toggle="modal" data-target="#emp-modal" title="أضافة موظف جديد"
                      class="edit-emp-btn btn btn-info btn-sm mx-2">إضافة موظف جديد <i class="fas fa-user-edit mx-2"></i></a>
                    </div> -->
          
                <div class="search-warpper">
                  <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(empsTbl)"></button>
                  <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input class="search-textbox" pInputText type="text"
                      (input)="empsTbl.filterGlobal($event.target.value, 'contains')" placeholder="بحث الدورات" />
                  </span>
                </div>
          
              </div>
            </ng-template>
          
            <ng-template pTemplate="header">
              <tr>
                <th> ألاجراءات </th>
                <th pSortableColumn="numberOfSeall"> 
                  عدد مرات البيع 
                  <p-sortIcon field="numberOfSeall"></p-sortIcon>
                </th>
                <th> مجموع المتحصلات النقدية </th>
                <th pSortableColumn="price_before_discount">سعر قبل الخصم <p-sortIcon field="price_before_discount"></p-sortIcon> </th>
                <th pSortableColumn="price_after_discount">سعر بعد الخصم <p-sortIcon field="price_after_discount"></p-sortIcon> </th>
                <!-- <th pSortableColumn="Price">سعر بعد الخصم <p-sortIcon field="Price"></p-sortIcon> -->
                  <th> صورة الدبلومة </th>
          
                  <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
                  </th>
          
              <!-- <th pSortableColumn="instructorName">المحاضر<p-sortIcon field="instructorName"></p-sortIcon>
                </th>
                <th pSortableColumn="createdAt">تاريخ <p-sortIcon field="createdAt"></p-sortIcon>
                </th> -->
                <!-- <th pSortableColumn="description">وصف <p-sortIcon field="description"></p-sortIcon>
                </th> -->
                <!-- <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
                </th> -->
          
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course>
              <tr>
                <td>
                  <button type="button" data-toggle="modal" data-target="#authModal" href="" title="تفاصيل أكثر عن الدبلومة"
                    class="btn btn-info btn-sm"><i class="fas fa-user-cog"></i></button>
          
                  <!-- <a href="" data-toggle="modal" data-target="#passwordModal" title="تغير كلمة المرور"
                    class="btn btn-warning text-white btn-sm"><i class="fas fa-unlock-alt"></i></a> -->
          
                  <button  data-toggle="modal" (click)="editClick(course)" data-target="#NewEmployeeModal"
                    title="تعديل بيانات الدبلومة" class="edit-emp-btn btn btn-primary btn-sm "><i class="fas fa-user-edit"></i></button>
                    <p-confirmPopup styleClass="custom-style" ></p-confirmPopup>

                  <button (click)="deleteClick(course.id)"  title="حذف الدبلومة" class="btn btn-danger btn-sm"><i class="fas fa-trash "></i></button>
          
                </td>
                <!-- <td>
                    <div class="custom-control custom-switch">
                      <input [checked]="cat.accountActivation" type="checkbox" class="custom-control-input"
                        id="customSwitches_{{cat.id}}">
                      <label class="custom-control-label" for="customSwitches_{{cat.id}}">
                      </label>
                    </div>
                  </td> -->
                  <td>{{course.numberOfSeall}}</td>
                  <td><span class="mx-2">جنيه</span><span>{{course.numberOfSeall * course.price_after_discount}}</span></td>
                  
                  <td>{{course.price_before_discount}} <span>جنيه</span></td>
                  <td>{{course.price_after_discount}} <span>جنيه</span></td>     
                <td>
                  <img src="{{course.img_path}}" width="120">
                </td>
                <td>
                    <a type="button" target="_blank"
                    routerLink="/purchase-diploma-info/{{course.id}}/{{course.name}}">
                      {{course.name}}
                    </a>
                </td>
          
              </tr>
            </ng-template>
          
          </p-table>
          <!-- End-PrimeNg Table -->
    </p-tabPanel>
    <p-tabPanel header="أكثر الدبلومات مبيعا">
                <!-- PrimeNg Table -->
                <p-table #empsTbl [value]="bestSellerDeplomas" [globalFilterFields]="['name','description','numberOfSeall']" [paginator]="true" [rows]="10"
                [rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8">
                <!-- [scrollable]="true"
                    scrollHeight="350px" -->
                <ng-template pTemplate="caption">
                  <div class="p-d-flex">
                    <!-- <div class="add-new-btn">
                          <a href="" data-toggle="modal" data-target="#emp-modal" title="أضافة موظف جديد"
                          class="edit-emp-btn btn btn-info btn-sm mx-2">إضافة موظف جديد <i class="fas fa-user-edit mx-2"></i></a>
                        </div> -->
      
                    <div class="search-warpper">
                      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(empsTbl)"></button>
                      <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input class="search-textbox" pInputText type="text"
                          (input)="empsTbl.filterGlobal($event.target.value, 'contains')" placeholder="بحث الدورات" />
                      </span>
                    </div>
      
                  </div>
                </ng-template>
      
                <ng-template pTemplate="header">
                  <tr>
                    <th> ألاجراءات </th>
                    <th pSortableColumn="numberOfSeall"> 
                      عدد مرات البيع 
                      <p-sortIcon field="numberOfSeall"></p-sortIcon>
                    </th>
                    <th> مجموع المتحصلات النقدية </th>
                    
                    <th pSortableColumn="price_before_discount">سعر قبل الخصم
                       <p-sortIcon field="price_before_discount"></p-sortIcon> </th>
                    <th pSortableColumn="price_after_discount">سعر بعد الخصم <p-sortIcon field="price_after_discount"></p-sortIcon> </th>
                    <!-- <th pSortableColumn="Price">سعر بعد الخصم <p-sortIcon field="Price"></p-sortIcon> -->
                      <th> صورة الدبلومة </th>
      
                      <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
                      </th>
      
                  <!-- <th pSortableColumn="instructorName">المحاضر<p-sortIcon field="instructorName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="createdAt">تاريخ <p-sortIcon field="createdAt"></p-sortIcon>
                    </th> -->
                    <!-- <th pSortableColumn="description">وصف <p-sortIcon field="description"></p-sortIcon>
                    </th> -->
                    <!-- <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
                    </th> -->
      
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course>
                  <tr>
                    <td>
                      <button type="button" data-toggle="modal" data-target="#authModal" href="" title="تفاصيل أكثر عن الدبلومة"
                        class="btn btn-info btn-sm"><i class="fas fa-user-cog"></i></button>
      
                      <!-- <a href="" data-toggle="modal" data-target="#passwordModal" title="تغير كلمة المرور"
                        class="btn btn-warning text-white btn-sm"><i class="fas fa-unlock-alt"></i></a> -->
      
                      <button  data-toggle="modal" (click)="editClick(course)" data-target="#NewEmployeeModal"
                        title="تعديل بيانات الدبلومة" class="edit-emp-btn btn btn-primary btn-sm "><i class="fas fa-user-edit"></i></button>
                        <p-confirmPopup styleClass="custom-style" ></p-confirmPopup>
      
                      <button (click)="deleteClick(course.id)"  title="حذف الدبلومة" class="btn btn-danger btn-sm"><i class="fas fa-trash "></i></button>
      
                    </td>
                    <!-- <td>
                        <div class="custom-control custom-switch">
                          <input [checked]="cat.accountActivation" type="checkbox" class="custom-control-input"
                            id="customSwitches_{{cat.id}}">
                          <label class="custom-control-label" for="customSwitches_{{cat.id}}">
                          </label>
                        </div>
                      </td> -->
                
                      <td>{{course.numberOfSeall}}</td>
                      <td><span class="mx-2">جنيه</span><span>{{course.numberOfSeall * course.price_after_discount}}</span></td>
                      <td><span class="mx-2">جنيه</span><span>{{course.price_before_discount}}</span></td>
                      <td><span class="mx-2">جنيه</span><span>{{course.price_after_discount}}</span></td>     
                    <td>
                      <img src="{{course.img_path}}" width="120">
                    </td>
                    <td>
                        <a type="button"  target="_blank" routerLink="/purchase-diploma-info/{{course.id}}/{{course.name}}">
                          {{course.name}}
                        </a>
                    </td>
      
                  </tr>
                </ng-template>
      
              </p-table>
              <!-- End-PrimeNg Table -->
    </p-tabPanel>
</p-tabView>




  <!-- New Course Modal -->
  <div class="modal fade" id="NewEmployeeModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-light" id="NewEmployeeModalLabel">{{modalTitle}}</h4>
          <button (click)="closeCourseModal()" type="button" class="close text-light" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <!-- render form here -->
          <add-edit-diploma [diploma]="deploma" *ngIf="ActivateAddEditEmpComp">
          </add-edit-diploma>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>
          <!-- <button type="button" class="btn btn-primary" > التغيرات حفظ</button> -->
          <!-- <button type="button" class="btn btn-primary">إضافة كورس جديد</button> -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Details Modal -->
  <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="passwordModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-light" id="passwordModalLabel">تفاصيل الموظف</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
  
          <div class="container">
            <div class="row">
              <div class="col-sm-3 ">
                <img class="img-fluid rounded" width="200" src="../../assets/images/emp-placeholder.jpg" alt="">
              </div>
              <div class="col-sm-9 ">
  
                <table class="table">
  
                  <tbody class="teble-details">
                    <tr>
                      <td><strong class="mx-2">ألاسم:</strong> <span>بيتر ناجي حليم إبراهيم</span></td>
  
                    </tr>
                    <tr>
                      <td><strong class="mx-2">الوظيفة:</strong><span>مندوب</span></td>
  
                    </tr>
                    <tr>
                      <td> <span>peter@gmail.com</span> <strong class="mx-2">:البريد الالكتروني</strong></td>
  
                    </tr>
                    <tr>
                      <td><strong class="mx-2">تاريخ التعين:</strong> <span>2021/02/9</span> </td>
                    </tr>
                    <tr>
                      <td><strong class="mx-2">تفعيل الحساب:</strong> <span>مفعل</span> </td>
                    </tr>
                    <tr>
                      <td><strong class="mx-2">الادارة:</strong> <span>حسابات</span> </td>
                    </tr>
                    <tr>
                      <td><strong class="mx-2">الراتب:</strong> <span>5230 جنيه</span> </td>
                    </tr>
                    <tr>
                      <td><strong class="mx-2">العنوان:</strong> <span>25 شارع العروبة متفرع من الهرم </span> </td>
                    </tr>
                  </tbody>
                </table>
  
  
              </div>
  
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
          <!-- <button type="button" class="btn btn-primary">حفظ</button> -->
        </div>
      </div>
    </div>
  </div>