.payment-iframe{
    width: 60%;
    height: 170vh;
    margin: 30px auto;
    overflow-y: hidden;
    position: relative;
    left: 0%;
    transform: translateX(-35%);
}

iframe.payment-iframe  > body{
    overflow-y: hidden !important;
}