<div class="row bg-dark mt-3">
  <div class="col-md-12 d-flex flex-row">
    <!-- New Employee Modal Button  -->
    <div class="pt-3">
      <button type="button" (click)="addNewClick()" class="btn btn-primary m-1" data-toggle="modal"
        data-target="#NewEmployeeModal">
        <i class="fas fa-user-plus mx-2"></i>
        اضافة دورة جديد
      </button>
    </div>
    <div class="pt-3">



    </div>

    <p class="h5 text-light py-3 ml-auto">إدارة الدورات</p>
  </div>
</div>


 <!--المفعلن -->
 <p-table id="table-for-print-2" #empsTbl_2 [value]="approvedCourses" [globalFilterFields]="['name','description','instructor_first_name','instructor_second_name']" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10,25,50]" [totalRecords]="this.recourdNumber" [pageLinks]="8">
        <!-- [scrollable]="true"
                scrollHeight="350px" -->
        <ng-template pTemplate="caption">
          <div class="p-d-flex d-flex justify-content-between flex-row-reverse">
            <!-- <div class="add-new-btn">
                      <a href="" data-toggle="modal" data-target="#emp-modal" title="أضافة موظف جديد"
                      class="edit-emp-btn btn btn-info btn-sm mx-2">إضافة موظف جديد <i class="fas fa-user-edit mx-2"></i></a>
                    </div> -->

            <div class="search-warpper">
              <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                (click)="clear(empsTbl_2)"></button>
              <span class="p-input-icon-left p-ml-auto">
                <i class="pi pi-search"></i>
                <input class="search-textbox" pInputText type="text"
                  (input)="empsTbl_2.filterGlobal($event.target.value, 'contains')" placeholder="بحث الدورات" />
              </span>
            </div>
            <button class="btn print-certificate"
            class="btn btn-info text-light"            
            printSectionId="table-for-print-2"
            [useExistingCss]="true"  
            ngxPrint>
            <i class="pi pi-print"></i>
            طباعة تقرير 
          </button>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th> ألاجراءات </th>
            <th pSortableColumn="instructor_first_name"> المدرب
              <p-sortIcon field="instructor_first_name">
              </p-sortIcon>
            </th>

            <th pSortableColumn="price_before_discount">سعر قبل الخصم <p-sortIcon field="price_before_discount">
              </p-sortIcon>
            </th>
            <th pSortableColumn="price_after_discount">سعر بعد الخصم <p-sortIcon field="price_after_discount">
              </p-sortIcon>
            </th>
            <!-- <th pSortableColumn="Price">سعر بعد الخصم <p-sortIcon field="Price"></p-sortIcon> -->
            <th> صورة الدورة </th>

            <th pSortableColumn="name"> أسم <p-sortIcon field="name"></p-sortIcon>
            </th>

           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
          <tr>
            <td class="text-center">

              <button type="button"
               data-toggle="modal" pTooltip="إرسال إشعارات" tooltipPosition="top" tooltipEvent="hover"
               (click)="initCurriculamToEdit(course)" data-target="#ParialCourseModal"
                 class="btn btn-info m-1 btn-sm">
                <i class="pi pi-bell"></i>
              </button>

          
              <p-confirmPopup styleClass="custom-style"></p-confirmPopup>

            </td>
           
          
             <td>
              {{course.instructor_first_name}}
              {{course.instructor_second_name}}
              {{course.instructor_last_name}}
             </td>


            <td>{{course.price_before_discount}}</td>
            <td>{{course.price_after_discount}}</td>
            <td>
              <img src="{{course.img_path}}" width="120">
            </td>
            <td>
               <a type="button"  target="_blank"
              routerLink="/purchase-course-info/{{course.id}}/{{course.name}}">
                {{course.name}}
            </a>
            </td>

          </tr>
        </ng-template>

 </p-table>
 <!-- المفعلن -->




<!-- New Course Modal -->
<div class="modal fade" id="NewEmployeeModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-light" id="NewEmployeeModalLabel">{{modalTitle}}</h4>
        <button (click)="closeCourseModal()" type="button" class="close text-light" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- render form here -->
        <add-edit-cour [Course]="course" *ngIf="ActivateAddEditEmpComp">
        </add-edit-cour>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>
        <!-- <button type="button" class="btn btn-primary m-1" > التغيرات حفظ</button> -->
        <!-- <button type="button" class="btn btn-primary m-1">إضافة كورس جديد</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="passwordModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-light" id="passwordModalLabel">تفاصيل الموظف</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


       

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
      </div>
    </div>
  </div>
</div>


<!-- New Curriculum Modal -->
<!-- New Curriculum Modal -->
<div class="modal fade " id="CurriculumModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-light" id="NewEmployeeModalLabel">تعديل بايانات المنهج</h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span (click)="closeCourseModal()" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body admin-model-body ">

        <!-- render form here -->
        <add-editcurriculum 

        [ActiveEditMood]="ActiveEditMood" 
        [CourseID]="IdToPath" 
        [CurrSection]="CourseCurriculam"
          *ngIf="ActivateAddEditCurruclum">
        </add-editcurriculum>


        <!-- <edit-currciulum-form [CourseID]="IdToPath"  [curric]="CourseCurriculam" *ngIf="ActivateAddEditEmpComp"></edit-currciulum-form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>

      </div>
    </div>
  </div>
</div>

<!-- ======================Copon Precentage=================== -->
<div class="modal fade " id="copone-course"
 data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-light" id="NewEmployeeModalLabel">إضافة كبون خصم لهذة الدورة</h4>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span (click)="closeCourseModal()" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body admin-model-body ">
        <p-toast position="top-right" key="ImageErrorMs"></p-toast>
        <p-toast position="top-center" key="addInstructor"></p-toast>
        
        <form #f="ngForm">
          <div class="row direction-instructor flex-row-reverse" >
           
            <div class="col-12">
        
            

        
              <div class="form-group">
                <label for="yxz">نسبة كبون الخصم</label>                
                <p-inputNumber [(ngModel)]="coponePrecentage" prefix="%"></p-inputNumber>
              </div>
        
     
           
            </div>
        
            <div class="col-md-12 mt-3">
        
              <button [disabled]="!f.valid" class="btn btn-primary m-1">
               إضافة كوبون الخصم
              </button>
            </div>
        
          </div>
        
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>

      </div>
    </div>
  </div>
</div>

<!-- ======================Add Partial Course=================== -->
<div class="modal fade " id="ParialCourseModal"
 data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-light" id="NewEmployeeModalLabel">إرسال أشعارات للطلاب</h3>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span (click)="closeCourseModal()" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body admin-model-body ">

        <!-- render form here -->
        <app-add-course-notify
        [ActiveEditMood]="ActiveEditMood" 
        [CourseID]="IdToPath" 
        [CurrSection]="CourseCurriculam"
          *ngIf="ActivateAddEditCurruclum" 
        >
        </app-add-course-notify>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>

      </div>
    </div>
  </div>
</div>

