<!--SECTION START-->
<section>
    <div class="pro-cover">
    </div>
    <div class="pro-menu">
      <div class="container">
        <div class="col-md-9 mr-auto">
  
          <p-tabView>
            <p-tabPanel header="الكورسات المحجوزة" [selected]="true">
  
  

  
              <div class="udb-sec udb-cour">
                <h4><img src="./assets/images/images/icon/db2.png"  /> الكورسات المحجوزة</h4>
  
                <div class="sdb-cours">
                  <div class="row">
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/admin.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/admin.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/admin.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
            </p-tabPanel>

            <p-tabPanel header="الكورسات التي نالت اعجابك" >
  
  

  
              <div class="udb-sec udb-cour">
                <h4><img src="./assets/images/icon/db2.png"  /> الكورسات التي نالت اعجابك</h4>
  
                <div class="sdb-cours">
                  <div class="row">
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/cust5.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/admin.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class=" col-12 col-md-6 col-lg-5">
                      <div class="card mb-5">
                        <div class="item-card2-img">
                          <a></a>
                          <img src="./assets/images/admin.jpeg" alt="img" class="cover-image" style="height: 162px">
                        </div>
                        <div class="item-card2-icons">
  
                        </div>
                        <div class="category-badge text-light">
                          <span class="font-weight-bold badge badge-danger ">
                            Loremipsum
                          </span>
                        </div>
                        <div class="card-body">
                          <div class="item-card2">
                            <div class="item-card2-desc">
                              <div class="item-card2-text mb-3">
                                <a class="text-dark">
                                  <h4 class="mb-2">
                                    Lorem ipsum dolor consectetur adipisicing.
                                  </h4>
                                </a>
                                <div class="item-card9-desc mb-2 d-flex justify-content-between">
                                  <a href="#" class="ml-4 float-right course-instructor">
                                    <span class="text-muted instructor-name">
                                      <!-- <i class="fa fa-user text-muted ml-1"></i>  -->
                                      <img class="rounded-circle" src="./assets/images/admin.jpeg" width="40px" alt="">
                                    </span>
  
                                  </a>
                                  <a href="#" class=" float-right course-date text-left">
                                    <span class="font-weight-bold"><i class="fa fa-clock-o"></i> :</span>
                                    <span class="">
                                      2021-4-15
                                    </span>
                                  </a>
                                </div>
                              </div>
                              <p class="">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eveniet.
                              </p>
                              <div class="w-100">
                                <!-- <a class="btn btn-primary text-white float-left w-100">
                                                          أشترك الان
                                                        </a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <div class="item-card2-footer p-3 ">
                            <div class="item-tag float-right">
                              <h6 class="mb-0">540 جنيه</h6>
                              <del class="mb-0">600 جنيه</del>
                            </div>
                            <div class="item-overly-trans float-left">
                              <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5</span>
                                <input type="number" readonly="readonly" class="rating-value star"
                                  name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm is--active">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
            </p-tabPanel>
            
            <p-tabPanel header="تعديل بيانات الحاساب">
  
              <div class="udb-sec udb-cour">
                <h4>تعديل البيانات</h4>
  
                <add-edit-strudent></add-edit-strudent>
              </div>
  
            </p-tabPanel>

            <p-tabPanel header="تغير كلمة السر">
  
              <div class="udb-sec udb-cour">
                <h4>تغير كلمة السر</h4>
  
                <change-password-strudent></change-password-strudent>
              </div>
  
            </p-tabPanel>

          </p-tabView>
  
        </div>
      </div>
    </div>
    <div class="stu-db">
      <div class="container pg-inn">
        <div class="col-md-3 instructor-img-col">
          <div class="pro-user">
            <img src="./assets/images/admin.jpeg" alt="user">
          </div>
          <div class="pro-user-bio">
            <ul>
              <li>
                <h5>سمر عبد الحميد </h5>
              </li>
              <!-- <li>Student Id: ST17241</li> -->
              <li><a href="#!"><i class="fa fa-facebook"></i> Facebook: my sample</a></li>
              <li><a href="#!"><i class="fa fa-google-plus"></i> Google: my sample</a></li>
              <li><a href="#!"><i class="fa fa-twitter"></i> Twitter: my sample</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
  
        </div>
      </div>
    </div>
  </section>
  <!--SECTION END-->
  
  
  
  
  
  
  <!-- New Course Modal -->
  <!-- <div class="modal fade" id="CourseModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="NewEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-light" id="NewEmployeeModalLabel">{{modalTitle}}</h4>
          <button (click)="closeCourseModal()" type="button" class="close text-light" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <add-edit-cour [Course]="course" *ngIf="ActivateAddEditEmpComp">
          </add-edit-cour>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeCourseModal()" data-dismiss="modal">اغلاق</button>

        </div>
      </div>
    </div>
  </div> -->
  