

<!-- *************************************
***********START ADMIN SECTION***********
**************************************-->
<quiz-admin-panel> </quiz-admin-panel>
<!-- *************************************
***********END ADMIN SECTION***********
**************************************-->

<!-- *************************************
***********START QUIZ SECTION************
**************************************-->
<!-- <student-quiz></student-quiz> -->

<!-- ************************************
***********END QUIZ SECTION*************
**************************************-->

<!-- **************************************
***********START FINAL RESULT PAGE********
**************************************-->
<!-- <student-final-result></student-final-result> -->
<!-- *************************************
***********END FINAL RESULT PAGE*********
**************************************-->