    <!--Login-Section-->
    <section class="sptb">
      <div class="container customerpage">
        <div class="row">
          <div class="single-page">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
              <div class="wrapper wrapper2">
                   
                      <div *ngIf="showInvalidMessage">
                        <div class="alert alert-danger" role="alert">
                          تأكد من البريد الالكتروني وكلمة السر
                          
                        </div>
                      </div>

                <form  (submit)="submitForm()" [formGroup]="loginForm" class="card-body" tabindex="500">
                  <input type="hidden">
                  <div class="mail">
                    <input formControlName="email"  type="email" class="form-control">
                    <span *ngIf="email.touched && email.invalid" class="text-danger">{{'CONFIREM_EMAIL_LOGIN'| translate}}</span>

                    <label>{{'EMAIL_ADDRESS'| translate}}</label>
                  </div>
                  <div class="passwd">
                    <input formControlName="password"  type="password" class="form-control"  
                      >
                      <span *ngIf="password.touched && password.invalid" class="text-danger">{{'CONFIREM_PASSWORD_LOGIN'| translate}}</span>

                    <label>{{'PASSWORD'| translate}}</label>
                  </div>
                  <div class="submit">
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid" >{{'LOG_IN'| translate}}</button>
                  </div>
                  <!-- <p class="mb-2"><a class="btn btn-link" href="password/reset.html">
                      نسيت كلمة السر
                    </a></p> -->
                  <p class="text-dark mb-0">{{'NOT_HAVE_ACCOUNT?'| translate}}<a routerLink='/register'   class="text-primary ml-1">
                    {{'REGISTER'| translate}}
                    
                    </a></p>
                </form>




                <hr class="divider">
                <div class="card-body">
                  <div class="text-center">
                    <div class="btn-group">
                      <a href="https://www.facebook.com/" class="btn  ml-2 btn-icon brround">
                        <span class="fa fa-facebook"></span>
                      </a>
                    </div>
                    <div class="btn-group">
                      <a href="https://www.google.com/gmail/" class="btn  ml-2 btn-icon brround">
                        <span class="fa fa-google"></span>
                      </a>
                    </div>
                    <div class="btn-group">
                      <a href="https://twitter.com/" class="btn  btn-icon brround">
                        <span class="fa fa-twitter"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/Login-Section-->