   <!--Footer Section-->
   <section>
    <footer class="bg-dark text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <h6>{{'ABOUT_US' |translate}}</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            {{'FOOTER__COL_ONE_DEC' |translate}}
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-12">
                        <h6>{{'QUICK_LINKS' |translate}}</h6>
                        <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li><a routerLink="/"> {{'HOME' |translate}}</a></li>
                            <li><a routerLink="/courses"> {{'COURSES' |translate}}</a></li>
                            <li><a routerLink="/diplomas"> {{'DIPLOMAS' |translate}}</a></li>
                            <li><a routerLink="/articals"> {{'ARTICALS' |translate}}</a></li>
                            <li><a routerLink="/contact-us"> {{'CONTACT_US' |translate}}</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h6>{{'OUR_CONTACT_INFO' |translate}}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="#"><i class="fa fa-home ml-3 text-primary"></i> 
                                    11شارع الدقي - الجيزة -
                                    مصر
                                
                                </a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-envelope ml-3 text-primary"></i> info@dr-nafsy.com</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-phone ml-3 text-primary"></i> 01096203090</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-print ml-3 text-primary"></i> 01096203090</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/montissorieducation"
                                    class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"
                                    class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="site.html"
                                    class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <h6>{{'NEWALETTERS' |translate}}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <div class="clearfix"></div>
                        <div class="input-group w-100">
                            <input type="text" class="form-control br-tl-3  br-bl-3 " placeholder="رقم الهاتف">
                            <div class="input-group-append ">
                                <button type="button" class="btn btn-primary br-tr-3  br-br-3"> {{'NEWALETTERS' |translate}}
                                </button>
                            </div>
                        </div>
                        <h6 class="mb-0 mt-5">{{'PAYMENT_METHODS' |translate}}</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-2 mt-3 d-inline-block mx-auto">
                        <div class="clearfix"></div>
                        <ul class="footer-payments">
                            <li class="pr-0"><a href="javascript:;"><i class="fa fa-cc-amex"
                                        aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-cc-visa" aria-hidden="true"></i></a></li>
                            <li><a href="javascript:;"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="javascript:;"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="javascript:;"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-dark  text-white p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center ">
                        <!-- جميع الحقوق محفوظة لمعهد الدراسات النفسية ومنصة دكتور نفسي © 2020 -->

                        <div class="col-lg-12 text-center  mb-3 mb-lg-0">
                            Copyright ©2021 <span class="text-primary"><a class="text-primary"
                                    href="http://innovations-eg.com/" target="_blank">innovations</a>
                            </span>.
                            All Rights Reserved


                            <!-- &copy; Copyright ©2020 
                        <a href="http://innovations-eg.com/" target="_blank">innovations-eg.com</a>.
                        All Rights Reserved -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
<!--/Footer Section-->